
.icon-tag:before { content: '\e81d'; } /* '' */
.icon-fire:before { content: '\e818'; } /* '' */
.icon-comment-empty:before { content: '\e817'; } /* '' */
.icon-off:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-heart-empty:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e81c'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-book:before { content: '\e820'; } /* '' */
.icon-tags:before { content: '\e81e'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e813'; } /* '' */
.icon-gplus:before { content: '\e805'; } /* '' */
.icon-gplus-circled:before { content: '\e806'; } /* '' */
.icon-pinterest:before { content: '\e807'; } /* '' */
.icon-pinterest-circled:before { content: '\e808'; } /* '' */
.icon-tumblr:before { content: '\e814'; } /* '' */
.icon-th:before { content: '\e81f'; } /* '' */
.icon-edit:before { content: '\e821'; } /* '' */
.icon-facebook-rect:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */