RewriteEngine on

RewriteBase /index.php/
RewriteRule ^home/recipe/(\d+)$	?appli=home&action=recipe&id_rec=$1 [QSA,L]
RewriteRule ^users/([a-zA-Z0-9]+)/(\d+)$ ?appli=users&action=$1&user=$2 [QSA,L]
RewriteRule ^home/myrecipe/pagin/(\d+)$ ?appli=home&action=myrecipe&pagin=$1 [QSA,L]
RewriteRule ^home/([a-zA-Z0-9]+)/(\d+)$ ?appli=home&action=$1&id_books=$2 [QSA,L]
RewriteRule ^home/recipe/([a-zA-Z0-9]+)/(\d+)$ ?appli=home&action=show_recipe&showr=$1&user=$2 [QSA,L]
RewriteRule ^home/catalogue/([a-zA-Z0-9]+)/pagin/(\d+)$ ?appli=home&action=catalogue&filter=$1&pagin=$2 [QSA,L]
RewriteRule ^home/recipe/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/pagin/(\d+) ?appli=home&action=show_recipe&showr=$1$user=$2&pagin=$3 [QSA,L]
RewriteRule ^home/myrecipe/pagin/(\d+)$ ?appli=home&action=myrecipe&pagin=$1 [QSA,L]
RewriteRule ^users/account/(\d+)$ ?appli=users&action=account&user=$1 [QSA,L]
RewriteRule ^home/([a-zA-Z0-9]+) ?appli=home&action=$1 [L]
RewriteRule ^users/([a-zA-Z0-9]+) ?appli=users&action=$1 [L]
RewriteRule ^home ?appli=home [L]
RewriteRule ^home/catalogue/([a-zA-Z0-9]+) ?appli=home&action=catalogue&filter=$1 [L]
RewriteRule editBook ?appli=home&action=book_edit [L]
RewriteRule submitRecipe ?appli=home&action=index&page=submitRecipe [L]
RewriteRule ^home/(\d+)$/(\d+)$ ?appli=home&action=show_recipe&showr=$1&pagin=$2