@font-face {
    font-family: 'new_ciclegordita';
    src: url('../font/new_cicle_gordita-webfont.eot');
    src: url('../font/new_cicle_gordita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/new_cicle_gordita-webfont.woff') format('woff'),
         url('../font/new_cicle_gordita-webfont.ttf') format('truetype'),
         url('../font/new_cicle_gordita-webfont.svg#new_ciclegordita') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'new_ciclefina';
    src: url('../font/New_Cicle_Fina-webfont.eot');
    src: url('../font/New_Cicle_Fina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/New_Cicle_Fina-webfont.woff') format('woff'),
         url('../font/New_Cicle_Fina-webfont.ttf') format('truetype'),
         url('../font/New_Cicle_Fina-webfont.svg#new_ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'new_ciclefina_italic';
    src: url('../font/New_Cicle_Fina_Italic-webfont.eot');
    src: url('../font/New_Cicle_Fina_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/New_Cicle_Fina_Italic-webfont.woff') format('woff'),
         url('../font/New_Cicle_Fina_Italic-webfont.ttf') format('truetype'),
         url('../font/New_Cicle_Fina_Italic-webfont.svg#new_ciclefina_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?87222274');
  src: url('../font/fontello.eot?87222274#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?87222274') format('woff'),
       url('../font/fontello.ttf?87222274') format('truetype'),
       url('../font/fontello.svg?87222274#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
#pop_up_js {
	position:absolute;
	top:0px;
	height:60px;
	width:100%;
	display:none;
	z-index:100;
}
#pop_up_js div{
	width:100%;
	height:60px;
}
#pop_up_js p {
	text-align: center;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29973076#fontello') format('svg');
  }
}
*/
 
  [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-tag:before { content: '\e81d'; } /* '' */
.icon-fire:before { content: '\e818'; } /* '' */
.icon-comment-empty:before { content: '\e817'; } /* '' */
.icon-off:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-heart-empty:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e81c'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-book:before { content: '\e820'; } /* '' */
.icon-tags:before { content: '\e81e'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e813'; } /* '' */
.icon-gplus:before { content: '\e805'; } /* '' */
.icon-gplus-circled:before { content: '\e806'; } /* '' */
.icon-pinterest:before { content: '\e807'; } /* '' */
.icon-pinterest-circled:before { content: '\e808'; } /* '' */
.icon-tumblr:before { content: '\e814'; } /* '' */
.icon-th:before { content: '\e81f'; } /* '' */
.icon-edit:before { content: '\e821'; } /* '' */
.icon-facebook-rect:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */

body {
	margin: 0 auto;
	background-image: url('../img/fond.jpg');
	background-position: center;
	font-family: 'new_ciclefina';
}

.center {
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
}
a img{
	border:none;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
button {
	border: none;
}


.titre_1 {
	font-family: 'new_ciclegordita';
	font-size: 28px;
	line-height: 45px;
	color: #FFF;
	border-bottom: 3px solid #89b929;
	text-align: left;
}

.titre_1 a {
	font-family: 'new_ciclegordita';
	font-size: 28px;
	line-height: 45px;
	color: #FFF;
	text-align: left;
}

.titre_2 {
	font-family: 'new_ciclegordita';
	font-size: 32px;
	font-weight: bold;
	line-height: 45px;
	color: #89b929;
}

.underscore_title {
	text-decoration: underline;
}
.bt {
	padding: 10px 15px 10px 15px;
	border-radius: 10px;

	font-family: 'new_ciclegordita';
	text-transform: uppercase;
	color: #FFF;
}
a.bt.vert:hover {
	background-color: #6e902A;
}

a.bt.gris:hover {
	background-color: #929292;
}
.vert {
	background-color: #89b929;
}

.gris {
	background-color: #c3c3c3;
}

.pagination {
	display: block;	
	width: 100%;
	text-align: center;
}

.pagination a+a{
	margin-left:10px; 
}



#header {
	width: 100%;
	min-width: 1032px;
	height: 60px;

	margin-bottom: 30px;
	position: relative;

	background-color: #FFF;

	box-shadow: 1px 1px 1px #000;

	z-index: 15;
}

#header .bloc_logo {
	float: left;

	width: 125px;
	height: 42px;

	margin: 7px 0px 14px 0px;
	margin-left: 1%;
}
#header .bloc_logo a img {
	width: 100%;
}

.bloc_menu{
    float: left;
    width: 390px;
    min-width: 387px;
    margin-left: 45px;
    line-height: 60px;
    vertical-align: middle;
}
.bloc_menu li{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
        list-style:none;
}
.bloc_menu a{
        float: left;
        margin-right: 40px;
        text-transform: uppercase;
        color: #000;
        font-size: 13px;
        text-decoration:none;
}   
.bloc_menu span{
    font-family: none;
    margin-right: 15px;
    color: #89b929;
    font-size: 16px;
}
.bloc_menu li:hover > ul{
        display: block;
}
.user_bloc{
    float: left;
    display:inline;
    margin-left: 45px;
    line-height: 70px;
    vertical-align: middle;
    padding: 0 0 10px 0;
    position: relative;
    list-style:none;
    color: #000;
    font-size: 18px;
    text-decoration:none;
}   
.user_bloc a{
    margin-right: 15px;
    color: #89b929;
    font-size: 18px;
}
.user_bloc li:hover > ul{
        display: block;
}
/* Sous-menu */
.user_bloc ul{
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99999;
    background-color: #fff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.user_bloc ul li{
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
}
.user_bloc ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.user_bloc ul a{
    padding: 15px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
*html .user_bloc ul a{ /* IE6 */
        height: 10px;
        width: 150px;
}
*:first-child+html .user_bloc ul a{ /* IE7 */
        height: 10px;
        width: 150px;
}
.user_bloc ul li a{
        text-transform: uppercase;
        color: #000;
        font-size: 13px;
        text-decoration:none;
        margin-right:20px;
}
.user_bloc ul li a:hover{
    color:#92B929;
}

.search_field{
    position:relative;
    float:right;
}

.search2 {
	 margin-top:16px;
	margin-right: 15px;
}
#inp_search{
    width:185px;
    border-radius:7px;
    padding:8px;
    border:none;
    border:1px solid #89B929;
    outline: none;
}
#loupe{
    position:absolute;
    right:10px;
    top:8px;
}
#header .bloc_user {
	float: right;
	padding: 0px 50px 0px 0px;
}
#header .bloc_user img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
#header .bloc_user a.image {
	display: inline;
    float:left;
}
#header .bloc_user a.user_name {
	display: inline-block;
	margin-top: 15px;
	vertical-align: top;
	font-family: 'new_ciclegordita';
	color: #000;
	font-size: 20px;
}
#header .bloc_user a.user_name span {
	float: right;
	font-size: 12px;
	color: #89b929;
}
.search_field input.bt {
	border: none;
}
#header .bloc_login {
	float: right;
	padding: 23px 10px 0px 0px;

	
}

#header .bloc_user {
	float: right;
	padding: 0px 10px 0px 0px;
	position: relative;
	/*display: none;*/
}

#header .bloc_user img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

#header .bloc_user a.image {
	display: inline-block;

	margin-top: 5px;
	margin-left: 20px;
}

#header .bloc_user a.user_name {
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;

	font-family: 'new_ciclegordita';
	color: #000;
	font-size: 20px;
}

#header .bloc_user a.user_name span {
	float: right;

	font-size: 12px;
	color: #89b929;
}

#header .bloc_user a.icon {
	position: absolute;
	top:5px;
	right:5px;
	color: #89b929;
}

#header .signup {
	position: absolute;
	top: 62px;
	right: 40%;
	width: 400px;
	padding: 0px 20px 20px 20px;
	background-color: #FFF;
	z-index: 1;
}
#header .signup .sous_titre {
	font-family: 'new_ciclefina';
	font-size: 16px;
	padding-bottom: 20px;
}
#header .signup form.log {
	text-align: center;
}
#header .signup form.log .ligne_log {
	margin-bottom: 10px;
}
#header .signup form.log .ligne_log input {
	margin-left: 10px;
	border: 1px solid #89b929;
	outline: none;
}
#header .signup form.log .bt {
	border: none;
	cursor: pointer;
}
#header .signup .else {
	display: block;
	margin-top: 10px;
	text-align: center;
}
#header .signup a.icon{
	position:absolute;
	top:0;
	right:0;
	color:#000;
}
#header .register {
	position: absolute;
	top: 62px;
	right: 40%;
	width: 400px;
	padding: 0px 20px 20px 20px;
	background-color: #FFF;
	z-index: 1;
}
#header .register .sous_titre {
	font-family: 'new_ciclefina';
	font-size: 16px;
	padding-bottom: 20px;
}
#header .register form.log {
	text-align: center;
}
#header .register form.log .ligne_log {
	margin-bottom: 10px;
}
#header .register form.log .ligne_log input {
	margin-left: 10px;
	border: 1px solid #89b929;
	outline: none;
}
#header .register form.log .bt {
	border: none;
	cursor: pointer;
}
#header .register .else {
	display: block;
	margin-top: 10px;
	text-align: center;
}
#header .register a.icon{
	position:absolute;
	top:0;
	right:0;
	color:#000;
}




#slider {
	width: 1024px;
	height: 280px;
	margin: 0 auto;
}

#slider img {
	width: 100%;
	/*height: 100%;*/
}

#slider .image_slider{
	position: relative;
}

#slider .image_slider .info_slider {
	position: absolute;
	top: 0px;
	right: 0px;

	width: 250px;
	height: 280px;
	padding: 25px 20px 20px 20px;

	background-color: #000;
	color: #FFF;
	font-family: "new_ciclefina";
	background-color: rgba(0,0,0,0.6);
}

#slider .image_slider .info_slider .slider_titre {
	display: block;
	font-size: 21px;
}

#slider .image_slider .info_slider .slider_auteur a{
	display: block;
	float: right;
	
	color: #FFF;
	font-size: 14px;
	font-family:'new_ciclefina_italic';
}

#slider .image_slider .info_slider .slider_texte {
	display: block;
	padding-top:20px;
	padding-bottom: 15px;
	line-height: 22px; 

	font-family: 'new_ciclefina';
	font-size: 16px;
}

#slider .image_slider .info_slider button.bt {
	float:right;
}

#slider .image_slider .info_slider button.bt.vote {
	float: left;

	margin-left: 10px;
}

#slider .image_slider .info_slider button.bt.fav {
	float: left;

	margin-left: 10px;
}

#footer {
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;

	border-top: 3px #89b929 solid;
	font-family: 'new_ciclegordita';
	color: #000;
	background-color: #FFF;
}

#footer .footer_left {
	float: left;
	font-size: 18px;
	text-transform: uppercase;
	margin-right: 38%;
	padding-left: 10px;
	background-color: #FFF;
}

#footer .footer_middle {
	float: left;
	margin-left: 70px;
	background-color: #FFF;
}

#footer .footer_middle a {
	color: #000;
	text-decoration: underline;
}

#footer .footer_middle a:hover {
	color: #89b929;
}
#footer .footer_middle span{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	font-weight:normal;
}

#footer .footer_right {
float: right;
font-size: 18px;
text-transform: uppercase;
padding-right: 10px;
background-color: #FFF;
}

#my_recipe {
	width: 1024px;
	min-width: 1024px;
	height: 1250px;

	margin: 0 auto;
	margin-top: 30px;
	padding-left: 20px;
}
#my_recipe .titre_1{
	margin-bottom: 30px;
	margin-left: -20px;
}
#my_recipe .titre_1 a {
	float: right;

	font-size: 18px;
	color: #FFF;
	vertical-align: baseline;
}
#my_recipe .titre_1 a:hover {
	color: #89b929
}
#my_recipe .titre_1 a span {
	font-size: 22px;

	vertical-align: middle;
}



#catalogue {
	width: 1024px;
	min-width: 1024px;
	height: 1250px;

	margin: 0 auto;
	margin-top: 30px;
}


#catalogue .titre_1 {
	margin-bottom: 30px;
}

#catalogue .titre_1 a {
	float: right;
	margin-left: 15px;

	font-size: 16px;
	color: #FFF;
	vertical-align: baseline;
}

#catalogue .titre_1 a.actif {
	color: #89b929;
}

#catalogue .titre_1 a:hover {
	color: #89b929;
}

.bloc_recette {
	width: 235px;
	height: 300px;

	float: left;
	margin-bottom: 15px;
}

.bloc_recette+.bloc_recette {
	margin-left: 15px;
}
.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 0px;
}

.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 15px;
}

.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 0px;
}

.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 15px;
}

.bloc_recette img {
	display: block;

	width: 235px;
	height: 154px;
}

.bloc_recette .info_bloc_recette {
	padding: 10px 20px 10px 20px;
	min-height: 105px;
	max-height: 105px;
	height: 105px;

	font-family: 'new_ciclefina';
	font-size:13px;
	background-color: #FFF;
}

.bloc_recette .info_bloc_recette a {
	display: block;
	margin-bottom:5px;

	color: #000;
	font-size: 18px;
	font-family: "new_ciclegordita";

}

.bloc_recette .views_bloc_recette {
	height: 40px;
	line-height: 40px;

	background-color: #89b929;
	color: #FFF;
	text-align: center;
}
.bloc_recette .views_bloc_recette .views{
	display: inline-block;
	padding:0px 10px 0px 10px;

	font-family: 'new_ciclefina';
}
.bloc_recette .views_bloc_recette .views span {
	margin-right: 5px;

	font-size: 20px;
	line-height: 20px;
}

#page_profil {
	width: 1024px;
	height: 1500px;

	margin: 0 auto;
}

#page_profil .profil_header {
	background-image: url(../img/header_profil.png);
	height: 207px;
	padding-left: 50px;
	padding-top: 16px;
	position: relative;
}

#page_profil .profil_header a.icon {
	float: right;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #FFF;
	border-radius: 30px;
	color: #89b929;
	right: 10px;
	top: 150px;
	position: absolute;
}


#page_profil .profil_header a.icon:hover {
	background-color: #89b929; 
	color:#FFF;;
}


#page_profil .profil_header img {
	display: inline-block;
	width: 174px;
	height: 174px;
	border-radius: 175px;
}

#page_profil .profil_header .info {
	display: inline-block;
	vertical-align: top;
	color: #FFF;
}

#page_profil .profil_header .info .pseudo {
	font-size: 40px;
	padding-top: 43px;
}

#page_profil .profil_header .info .nom {
	font-size: 21px;
}

#page_profil .profil_header .info .age {
	font-size: 18px;
}

#page_profil .books {
	height: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

#page_profil .books .row_books {
	width: 1024px;
	height: 320px;
	padding-top: 15px;
}

#page_profil .books .row_books .case_book {
	width: 198px;
	height: 278px;
	display: block;
	float: left;

	background-color: red;
}

#page_profil .books .row_books .case_book img {
	width: 198px;
	height: 278px;
}

#page_profil .books .row_books .case_book+.case_book {
	margin-left:8px; 
}

#page_profil .bloc_wide {
	width: 1024px;
	height: 600px;
}

#page_profil .bloc_wide .favorite {
	width: 500px;
	height: 600px;
	float: left;
} 

#page_profil .bloc_wide .favorite+.favorite{
	margin-left: 24px;
}

#page_profil .bloc_wide .favorite .titre_1,
#page_profil .bloc_wide .recipe .titre_1 {
	margin-bottom: 10px;
}
#page_profil .bloc_wide .recipe .bloc_profil {
	margin-top: 30px;
}

#page_profil .bloc_wide .favorite .bloc_profil a.case_recipe {
	width: 245px;
	height: 195px;

	margin-bottom: 10px;

	float: left;
}

#page_profil .bloc_wide .favorite .bloc_profil a.case_recipe img {
	width: 245px;
	height: 165px;
}

#page_profil .bloc_wide .favorite .bloc_profil a.case_recipe+a.case_recipe {
	margin-left: 10px;
}

#page_profil .bloc_wide .favorite .bloc_profil a.case_recipe+a.case_recipe+a.case_recipe {
	margin-left: 0px;
}
#page_profil .bloc_wide .favorite .bloc_profil a.case_recipe+a.case_recipe+a.case_recipe+a.case_recipe {
	margin-left: 10px;
}
#page_profil .bloc_wide .favorite .bloc_profil .case_recipe .views_bloc_recette {
	width: 245px;
	height: 30px;
	
	line-height: 30px;

	background-color: #89b929;
	color: #FFF;
	text-align: center;
	margin-top: -4px;
}
#page_profil .bloc_wide .favorite .bloc_profil .case_recipe .views_bloc_recette .views{
	display: inline-block;
	padding:0px 10px 0px 10px;

	font-family: 'new_ciclefina';
}

#page_profil .bloc_wide .favorite .bloc_profil .case_recipe .views_bloc_recette .views_title {
	text-align: left;
	padding:0px 10px 0px 10px;

	font-family: 'new_ciclegordita';
	font-size: 16px;
}

#page_profil .bloc_wide .favorite .bloc_profil .case_recipe .views_bloc_recette .views span {
	margin-right: 5px;

	font-size: 20px;
	line-height: 20px;
}

#page_profil .bloc_wide .favorite .bloc_profil a.bt {
	margin-top: 10px;
	display: inline-block;
	margin: 0 auto;
}







#page_profil .notif,
#page_profil .votes,
#page_profil .security {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
}

#page_profil .notif input,
#page_profil .votes input,
#page_profil .security input {
	margin-left: 30px;
}

#page_profil .notif {
	margin-top: 30px;
}

#page_profil .security input {
	padding-left: 10px;
	font-size: 12px;

	color: #000;
}


#page_profil .security input.bt {
	border: none;
	margin-top: 20px;

	float: right;
}


#page_recipe {
	width: 1024px;
	height: 1600px;

	margin: 0 auto;

	padding-left: 20px;
	margin-top: 7px;
}
.titre_recette {
	text-transform: uppercase;
	font-size: 28px;
}

#page_recipe .sharing {
	width: 1024px;
	margin: 0 auto;
	position: relative;
	height: 20px;
	margin-bottom:5px; 
	margin-left: -20px;
	display: block;
}

#page_recipe .sharing .fbdown {
	position: absolute;
	right: 20px;

}

#page_recipe .sharing .fbdown+.fbdown{
	right: 100px;
}

#page_recipe .texte_recette {
	width: 710px;
	margin-right: 17px;
	background-image: url(../img/paper_craft.png);
	background-position: center;
	padding-top:25px;
	float: left;
}

#page_recipe .texte_recette .ingredient {
	width: 250px;
	margin-left: 20px;
	float: left;
}

#page_recipe .texte_recette .ingredient .texte {
	padding-left: 25px;
	padding-top: 10px;
	font-size: 15px;
	line-height: 26px;
	max-height:200px;
	overflow-y: scroll;
}

#page_recipe .texte_recette .conteneur_info {
	width: 440px;
	float: left; 
}

#page_recipe .texte_recette .conteneur_info .time {
	width: 240px;
	height: 100px;
	text-align: right;
	text-transform: uppercase;
	font-family: 'new_ciclegordita';
	line-height: 30px;
	font-size: 22px;

	float: left;
}

#page_recipe .texte_recette .conteneur_info .time .green_time {
	color: #89b929;
	margin-left: 10px;
}

#page_recipe .texte_recette .conteneur_info .time .min {
	text-transform: none;
}

#page_recipe .texte_recette .conteneur_info .difficulty {
	width: 150px;
	height: 100px;
	float: left;
	text-align: center;
	margin-left: 40px;
	font-size: 22px;
	line-height: 30px;

	text-transform: uppercase;
	font-family: 'new_ciclegordita';
}

#page_recipe .texte_recette .conteneur_info .difficulty .green_info {
	color: #89b929;
	text-transform: none;
}

#page_recipe .texte_recette .conteneur_info .tags {
	height: 200px;
	float:left;
	padding-top: 30px;
	padding-left: 45px;
	text-transform: uppercase;
	font-family: 'new_ciclegordita';	
	font-size: 22px;
}


#page_recipe .texte_recette .conteneur_info .tags .green_tags {
	font-family: 'new_ciclefina';
	font-size: 19px;
	text-transform: none;
	color: #89b929;
}

#page_recipe .texte_recette .process_recipe{
	width: 710px;
	padding:30px 25px 30px 25px; 

}

#page_recipe .texte_recette .process_recipe .texte {
	font-size: 19px;
	line-height: 21px;
	display: block;
	padding-left: 25px;
	padding-top: 20px;
	word-wrap:break-word;
}

#page_recipe .more_author {
	width: 255px;
	background-image: url(../img/paper_craft.png);
	background-position: center;

	float: left;
	padding-bottom: 30px;
	text-align: center;
}

#page_recipe .more_author .avatar_author {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 10px;
}
#page_recipe .more_author .avatar_author img {
	width: 120px;
	height: 120px;
	border-radius:150px; 

	border: 3px solid #89b929
}
#page_recipe .more_author .texte {
	font-size: 28px;
	text-align: center;

	margin-bottom: 10px;
}

#page_recipe .more_author a.case_recipe {
	width: 237px;
	height: 177px;

	margin: 0 auto;

	margin-bottom: 10px;
	display: block;
}

#page_recipe .more_author a.case_recipe img {
	width: 237px;
	height: 147px;
}
#page_recipe .more_author a.case_recipe+a.case_recipe {
	margin-bottom: 20px;
}

#page_recipe .more_author .case_recipe .views_bloc_recette {
	width: 237px;
	height: 35px;
	
	line-height: 35px;

	background-color: #89b929;
	color: #FFF;
	text-align: center;
	margin-top: -4px;
}
#page_recipe .more_author .case_recipe .views_bloc_recette .views{
	display: inline-block;
	padding:0px 10px 0px 10px;

	font-family: 'new_ciclefina';
}

#page_recipe .more_author .case_recipe .views_bloc_recette .views_title {
	text-align: left;
	padding:0px 10px 0px 10px;

	font-family: 'new_ciclegordita';
	font-size: 18px;
}

#page_recipe .more_author .case_recipe .views_bloc_recette .views span {
	margin-right: 5px;

	font-size: 20px;
	line-height: 20px;
}

#page_recipe .more_author a.bt {
	margin-top: 10px;
}

#page_recipe .commentaire {
	width: 920px;
	margin-left: 25px;
	margin-top: 30px;
	background-image: url(../img/paper_craft.png);
	background-position: center;
	float: left;
}

#page_recipe .commentaire {
	padding: 20px;
}
#page_recipe .commentaire .titre_recette {
	margin-bottom: 20px;
}
#page_recipe .commentaire .case_comment{
	position: relative;
	margin-bottom: 20px;
}

#page_recipe .commentaire .case_comment a.delete {
	position: absolute;
	top:0px;
	right: 0px;
	background-color: #FF9600;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}

#page_recipe .commentaire .case_comment img {
	width: 85px;
	height: 85px;
	border-radius: 85px;
	display: inline-block;
}

#page_recipe .commentaire .case_comment .comment_info {
	display: inline-block;
	width: 700px;
	vertical-align: top;
	padding-top: 15px;
}

#page_recipe .commentaire .case_comment .comment_info .pseudo {
	font-size: 23px;
	margin-bottom: 10px;
}
#page_recipe .commentaire .case_comment .comment_info .pseudo a{
	color: #000;
	border-bottom: 1px solid #89b929;
}

#page_recipe .commentaire .case_comment .comment_info .comment {
	font-size: 18px;
}

#page_recipe .commentaire .case_comment .comment_info .time {
	font-size: 12px;
	color: #89b929;
	text-align: right;
}

#page_recipe .commentaire .case_comment textarea {
	width: 100%;
	max-width: 100%;
	height: 60px;
	max-height: 60px;
	border: 1px solid #89b929;
	margin-bottom: 10px;
	padding: none;
}

#page_recipe .commentaire .case_comment button {
	float: right;
	border: none;
}

#homepage {
	width: 1024px;
	height: 850px;

	margin: 0 auto;
	padding-left: 20px;

	margin-top: 30px;
}

#homepage .col1{
	width: 235px;
	float: left;
}

#homepage .col1 .home1 {
	width: 235px;
	padding-bottom: 20px;
	text-align: center;
}
#homepage .col1 .home1 img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 3px solid #89b929;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;

	cursor: pointer;
}

#homepage .col1 .home1 span {
	color: #FFF;
	font-size: 22px;
}
#homepage .col1 .home1 .view_p {
	font-size: 14px;
	color: #89b929;
}

#homepage .col1 .home2 {
	width: 235px;
	padding-bottom: 20px;
	text-align: center;
}

#homepage .col1 .home2 .content {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

#homepage .col1 .home2 .content img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}

#homepage .col1 .home2 span {
	font-size: 18px;
	color: #FFF;
}

#homepage .col2{
	width: 235px;
	margin-left: 15px;
	float: left;
}

#homepage .col2 .home3 {
	width: 235px;
	padding-bottom: 20px;
	text-align: center;
}

#homepage .col2 .home3 .content {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
}

#homepage .col2 .home4 {
	width: 235px;
	padding-bottom: 20px;
	text-align: center;
}

#homepage .col2 .home4 img {
	width: 80%;
	height: 80%;
}

#homepage .col3{
	width: 235px;
	margin-left: 15px;
	float: left;
}
#homepage .col3 .home5 {
	width: 235px;
	padding-bottom: 20px;
	text-align: center;
}

#homepage .col3 .home5 img {
	width: 60%;
	height: 60%;
	margin-bottom: 10px;
	cursor: pointer;
}

#homepage .col3 .home5 span {
	font-size: 18px;
	color: #FFF;
}

#homepage .col3 .home6 {
	width: 235px;
	padding-bottom: 20px;
	text-align: center;
}

#homepage .col3 .home6 .news{
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
}

#homepage .col4{
	width: 235px;
	margin-left: 15px;
	float: left;
}

#homepage .col4 .home7 {
	width: 235px;
	padding-bottom: 20px;
}

#homepage .col4 .home7 span {
	font-size: 18px;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

#homepage .col4 .home7 input {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 5px;
	width: 170px;
	height: 25px;
	padding: 0px 0px 0px 10px;
	color: #89b929;
	border: none;
	border-radius: 5px;
}

#homepage .col4 .home7 button{
	padding: 0px;
	height: 25px;
	width: 25px;
	border: none;
	text-align: left;
}
#homepage .col4 .home7 button .icon {
	padding: 0px;
}

#homepage .col4 .home8 {
	width: 235px;
	padding-bottom: 20px;
}
#homepage .col4 .home8 .home_title {
	margin-bottom: 0px;
}
#homepage .col4 .home8 img {
	width: 100%;
	height: 100%;
}

.home_title {
	text-align: center;
	font-size: 24px;
	height: 50px;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:0px; 
	width: 100%;
	line-height: 50px;

	margin-bottom: 20px;
}

.bg_white {
	background-color: #FFF;
}

.bg_green {
	background-color: #89b929;
	color: #FFF;
}
.bg_grey{
	background-color: #555555;
	color: #FFF;
}

.bg_orange {
	background-color:#ff892a;
	color: #FFF;
}
.bg_black {
	background-color: rgba(0,0,0,0.5);
}
.bg_home {
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:0px; 
	margin-bottom: 20px;
}




#create_recipe  {
	width: 1024px;
	height: 800px;

	margin: 0 auto;

	margin-top: 30px;
}

#create_recipe2{
	width: 1024px;
	height: 1000px;

	margin: 0 auto;

	margin-top: 30px;
}

#create_recipe3  {
	width: 1024px;
	height: 800px;

	margin: 0 auto;

	margin-top: 30px;
}

#create_recipe4{
	width: 1024px;
	height: 1000px;

	margin: 0 auto;

	margin-top: 30px;
}

#create_recipe5{
	width: 1024px;
	height: 1000px;

	margin: 0 auto;

	margin-top: 30px;
}
.step {
	width: 1024px;
	background-image: url(../img/paper_craft_step.png);
	background-position: center;
}

#create_recipe .step1 {
	display: block;
	width: 1024px;
	height: 390px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 20px;
}

.titre_recette {
	margin-bottom: 30px;
	text-align: left;
}

.titre_recette span {
	color: #89b929;
}

#create_recipe .step .form_title {
	font-size: 20px;
	display:block;
	margin-bottom: 20px;
}

#create_recipe .step .case_remplir {
	margin-bottom: 20px;
	width: 700px;
	height: 30px;
	border: 1px solid #89b929;
}

.ligne_bt {
	width: 100%;
	text-align: center;
	margin-top: 50px;

}

.ligne_bt a+a {
	margin-left: 20px;
}

.expl {
	margin-bottom: 30px;
	font-size: 22px;
}

.etape {
	text-align: center;
	margin-top: 50px;
	display: block;
	width: 100%;

}

.etape span {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background-color: red;
	margin-right: 15px;
	padding-top: 10px;
	color: #FFF;
}

.etape span.undone {
	background-color: #d7e6ba;
}

.etape span.done {
	background-color: #89b929;
	cursor: pointer;
}

#create_recipe2 .step2 {
	display: block;
	width: 1024px;
	height: 850px;
	margin: 0 auto;
	padding: 20px 20px;
}

#create_recipe2 .step2 .images {
	margin-top:30px;
}
#create_recipe2 .step2 .images .cover-container {
	width: 1024px;
	height:280px;
	position:relative;
	margin-left:-20px;
	overflow:hidden;D

}

#create_recipe2 .step2 .images .cover-image {
	width: 1024px;
	position:absolute;
	margin-left:-20px;

}


#create_recipe2 .step2 .images .previews {
	position:absolute;
	background-size: cover;
	width: 1024px;
	margin-bottom: 20px;

}

#create_recipe2 .step2 .images .previews img{
	width: 100%;

}

#create_recipe2 .step2 .images .text_img {
	display: inline-block;
	margin-left: 50px;
	font-size: 16px;
	vertical-align: top;	
	margin-top: 30px;
	margin-bottom: 30px;
}
#create_recipe3 .step3 {
	display: block;
	width: 1024px;
	height: 620px;
	margin: 0 auto;
	padding: 20px 20px;
}

#create_recipe3 .step3 .ingredient {
	width: 350px;
	height: 150px;
	margin-bottom: 30px;

	border-radius: 5px;
	border: 1px solid #89b929;
}

#create_recipe3 .step3 .difficulty {
	width: 350px;
	border-radius: 5px;
	border: 1px solid #89b929;

	margin-bottom: 30px;
}

#create_recipe3 .step3 .row_time {
	margin: 0 auto;
	width: 400px;
	margin-bottom: 20px;
}

#create_recipe3 .step3 .row_time .form_title select {
	width: 50px;
	height: 25px;
	color: #89b929;
	font-size: 18px;
	font-family: 'new_ciclefina';
	font-weight: bold;
	margin: 0px 10px 0px 10px
}

#create_recipe4 .step4 {
	display: block;
	width: 1024px;
	height: 570px;
	margin: 0 auto;
	padding: 20px 20px;
}

#create_recipe5 .step5 {
	display: block;
	width: 1280px;
	height: 950px;
	margin: 0 auto;
	padding: 20px 20px;
}

#create_recipe4 .step4 .preparation {
	width: 400px;
	height: 300px;

	margin-bottom: 30px;

	border-radius: 5px;
	border: 1px solid #89b929;
}

#create_recipe5 .step5 .bloc_tag {
	width: 570px;
	display: inline-block;
}

#create_recipe5 .step5 .bloc_tag2 {
	width: 570px;
	display: inline-block;
	vertical-align: top;
	margin-left:40px; 
}
.row_tag {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.row_tag .tag_title {
	width: 600px;
	margin: 0 auto;
	font-size: 20px;
	padding-bottom: 5px;
	text-align: center;

	border-bottom: 1px solid #89b929;
}
.row_tag .case_tag {
	display: inline-block;
	margin-top: 10px;
}

.row_tag .case_tag+.case_tag {
	margin-left: 15px;
}

#create_recipe5 .step5 .row_tag .case_tag input {
	margin-right: 5px;
}

#create_recipe5 .step5 .ligne_bt button{
	margin-left: 20px;
}

#fond_valid {
	width: 1024px;
	height: 710px;
	margin: 0 auto;
	margin-bottom: 600px;
	margin-top: 30px;
	
	background-image: url(../img/paper_craft_step.png);
	background-position: center;
	
	padding: 20px;
}

#about {
	width: 1024px;
	height: 450px;
	margin: 0 auto;
	padding: 20px 20px;
	background-color: #FFF;
	margin-bottom: 30px;
}

#about .titre {
	text-align: center;
	font-weight: bold;
	color: #89B929;
	font-size:26px;
	margin-bottom: 50px;
}

#about .texte {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

#about .texte span {
	display: block;
	font-size: 22px;
	margin-bottom: 10px;
}


#about .texte2 {
	margin-top: 50px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

#about .texte2 span {
	display: block;
	font-size: 22px;
	margin-bottom: 10px;
}
#createbooks  {
	width: 1024px;
	height: 550px;

	margin: 0 auto;
}

#createbooks .create_books_step1 {
	width: 984px;
	height: 500px;
	margin: 0 auto;

	background-image: url(../img/paper_craft_step.png);
	background-position: center;
	padding:30px;
}
#createbooks .create_books_step1 .bloc_name .img_cover_test {
	width: 235px
}

#createbooks .create_books_step1 .bloc_name .name {
	float: right;
	margin-right: 540px;
	margin-top: 20px;
}

#createbooks .create_books_step1 .bloc_name .book_name {
	float: right;
	width: 430px;
	border: 1px solid #89B929;
	margin-right: 220px;
}
#createbooks .create_books_step1 .bloc_name .name_cover {
	float: left;
	margin-top: -250px;
	margin-left: 275px;
}
#createbooks .create_books_step1 .bloc_name .row_covers {
	width: 600px;
	height: 220px;
	padding: 20px;
	border: 1px solid #89B929;
	border-radius: 10px;
	float: right;
	margin-top: -221px;
	margin-right: 50px; 
}

#createbooks .create_books_step1 .bloc_name .row_covers .choose_cover {
	width: 123px;
	height: 170px;
	float: left;
	text-align: center;
}

#createbooks .create_books_step1 .bloc_name .row_covers .choose_cover+.choose_cover {
	margin-left: 20px;
}
#createbooks .create_books_step1 .bloc_name .row_covers .choose_cover img {
	width: 123px;
	height: 161px;
}

#createbooks .create_books_step1 .bloc_name .row_covers .choose_cover input {
	margin-top: 10px;
}
#createbooks .create_books_step1 button {
	float: right;
	margin-top: 30px;
	margin-right: 100px;
}

#editbooks {
	width: 1024px;
	height: 300px;

	margin: 0 auto;
}

#editbooks .edit_book {
	width: 984px;
	height: 200px;
	margin: 0 auto;

	background-image: url(../img/paper_craft_step.png);
	background-position: center;
	padding:30px;

	text-align: center;
}

#editbooks .edit_book .name {
	margin-top: 30px;
	margin-bottom: 30px;
}

#editbooks .edit_book select {
	border: 1px solid #89B929;
	border-radius: 5px;
	color: #89B929;
	width: 300px;
}

#choosefav {
	width: 1024px;
	height: 1050px;

	margin: 0 auto;
}

#choosefav .choose_fav {
	width: 1004px;
	height: 900px;
	margin: 0 auto;

	padding-left: 17px;
	padding-top: 30px;

	background-image: url(../img/paper_craft_step.png);
	background-position: center;
}

#choosefav .choose_fav .row_titre {
	height: 100px;
}

#choosefav .choose_fav .row_titre .filter {
	float: right;
	margin-right: 20px;
}

#choosefav .choose_fav .row_titre .filter a {
	color: #000;
	margin-left: 10px;
	text-decoration: underline;
}

#choosefav .choose_fav .bloc_recette {
	width: 235px;
	height: 300px;

	float: left;
	margin-bottom: 30px;
}
#choosefav .choose_fav .bloc_recette input.check {
display: block;
margin: 0 auto;
margin-top: 5px;

}

#choosefav .choose_fav .bloc_recette+.bloc_recette {
	margin-left: 10px;
}
#choosefav .choose_fav .bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 0px;
}

#choosefav .choose_fav .bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 10px;
}

#choosefav .choose_fav .bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 0px;
}

#choosefav .choose_fav .bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette+.bloc_recette {
	margin-left: 10px;
}

#choosefav .choose_fav button {
	float: right;
	margin-top:30px;
	margin-right: 100px;
}

.bloc_menu li:hover > ul{
        display: block;
}

/* Sous-menu */
.bloc_menu ul{
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99999;
    background-color: #fff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.bloc_menu ul li{
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
}
.bloc_menu ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bloc_menu ul a{
    padding: 15px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

.bloc_menu ul li a{
        text-transform: uppercase;
        color: #000;
        font-size: 13px;
        text-decoration:none;
        margin-right:20px;
}
.bloc_menu ul li a:hover{
    color:#92B929;
}


@media screen and (max-width: 1250px) {
  #header .bloc_user img {
  	display: none;
  }
}